### SiS-PM Gembirds (Gembird Silver Shield power outlets controlled by sispmctl):
#
# Author: hcz@hczim.de, License: GPLv3 (or later).
# Time-stamp: <2008-05-03 11:45:31 hcz>

# See gemplug(1), section "HELPER FILES" for an explanation on what
# this file is meant for.

# Note that udev rules are applied when a device gets added and/or
# removed from the system.  So unplug and then replug your devices (or
# reboot) for changes to become effective after you've done
# modifications.  (You also could trigger a rule manually - see
# udevadm(8) for this and for more).

### Standard rule:
#
# make all SiS-PM devices world read/writable:

SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="fd1[0-3]", MODE="0666"

### Alternative rule: 
#
# make all SiS-PMs available to a group of users 

# In order to get there, add your users to group "sispm" - don't
# forget to create the group and to add yourself there.  Make the rule
# above into a comment and de-comment the rule below.  Also note that
# users need to go through a new login for group changes to take
# effect for them:

# SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="fd1[0-3]", GROUP="sispm", MODE="0660"
